body{
    margin: 0%;
}

header{
    text-align: center;
    background-color: hsl(146, 27%, 66%);
    margin-top: 0%;
    position: fixed;
    width: 100%;
}



h1:hover{
    color: crimson;
}

nav{
    margin-top: 62px;
    text-align: center;  
    position: fixed;
    width: 100%; 
    font-size: 24px;
    display: block;
    background-color: hsl(0, 0%, 0%);
    padding: 5px;
    
}

a{
    color: white;
    text-decoration: none;
    padding: 5px;
    background-color: black;
    display: inline-block;
}


a:hover{
    color:red;
}



footer{
    text-align: center;
}